ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none; }

html,
body {
  margin: 0;
  font-size: 16px;
  background: #ffffff;
  color: #999999;
  line-height: 1.15; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

.no-padding__left {
  padding-left: 0; }

.no-padding__right {
  padding-right: 0; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none; }

header .header-top {
  background: #F2F2F2; }
  header .header-top__nav {
    float: right; }
  header .header-top li {
    float: left; }
  header .header-top li:first-child a {
    border-left: 0; }
  header .header-top a {
    display: inline-block;
    margin: 14px 0;
    padding: 0 15px;
    border-left: 1px solid #d7d7d7;
    color: #999999;
    line-height: 15px;
    font-size: 12px; }
    header .header-top a:hover {
      color: #F47920;
      text-decoration: none; }
header .header-logo {
  margin-top: 33px; }
  header .header-logo img {
    width: 100%; }
    @media only screen and (max-width: 767px) {
      header .header-logo img {
        width: auto; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      header .header-logo img {
        width: auto; } }
  @media only screen and (max-width: 767px) {
    header .header-logo {
      text-align: center; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    header .header-logo {
      text-align: center; } }
header .header-main {
  margin-top: 33px; }
  header .header-main__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header .header-main__search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 15px;
    position: relative; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      header .header-main__search {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        width: calc(50% - 5px);
        margin-top: 0px; } }
    @media only screen and (min-width: 992px) {
      header .header-main__search {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-top: 0;
        width: 80%;
        margin-left: 40px; } }
    @media only screen and (min-width: 1200px) {
      header .header-main__search {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        margin-top: 0;
        width: 80%;
        margin-left: 40px; } }
    header .header-main__search input {
      width: 100%;
      outline: none;
      border: 1px solid #F2F2F2;
      display: inline-block;
      font-size: 12px;
      height: 48px;
      line-height: 48px;
      padding: 0 45px 0 20px; }
      header .header-main__search input:focus + .icon-search {
        background: #F47920;
        color: #fff; }
    header .header-main__search .icon-search {
      position: absolute;
      width: 48px;
      height: 50px;
      text-align: center;
      line-height: 48px;
      color: #111;
      top: -1px;
      right: 15px;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        header .header-main__search .icon-search {
          right: 1px; } }
      @media only screen and (min-width: 992px) {
        header .header-main__search .icon-search {
          right: 1px; } }
  header .header-main__btn {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      header .header-main__btn {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: calc(50% - 10px);
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    @media only screen and (min-width: 992px) {
      header .header-main__btn {
        width: 20%; } }
    @media only screen and (min-width: 1200px) {
      header .header-main__btn {
        width: 20%; } }
    header .header-main__btn .btn__phone {
      width: calc(50% - 10px);
      background-color: #F47920;
      height: 48px;
      line-height: 48px;
      text-align: center; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        header .header-main__btn .btn__phone {
          margin-right: 5px; } }
      header .header-main__btn .btn__phone span {
        position: relative; }
        header .header-main__btn .btn__phone span::before {
          position: absolute;
          font-family: 'FontAwesome', sans-serif;
          content: "\f095";
          left: -16px; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            header .header-main__btn .btn__phone span::before {
              display: none; } }
    header .header-main__btn .btn__wrap {
      width: calc(50% - 10px);
      background-color: #F47920;
      line-height: 46px;
      text-align: center; }
      @media only screen and (min-width: 992px) {
        header .header-main__btn .btn__wrap {
          width: 100%; } }
      header .header-main__btn .btn__wrap .btn__cart i {
        margin-right: 10px; }
      header .header-main__btn .btn__wrap .cart__hover {
        display: none; }

.footer {
  background-color: #313131;
  font-family: inherit;
  font-size: 12px; }
  .footer .container {
    padding: 30px 0 15px 0; }

.multi-columns-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer-info-box ul {
  padding: 0;
  list-style-type: none; }
.footer-info-box li {
  margin-bottom: 15px; }
  .footer-info-box li img {
    width: 136px;
    height: 54px; }
.footer-info-box .fa--border {
  width: 37px;
  height: 37px;
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
  text-align: center;
  line-height: 33px;
  color: #ffffff; }
.footer-info-box span {
  color: #989898; }
  .footer-info-box span a {
    color: #989898; }
    .footer-info-box span a:hover {
      color: #ffffff;
      text-decoration: none; }
  .footer-info-box span i {
    padding-right: 10px; }
.footer-info-box h3 {
  color: #ffffff;
  font-weight: bold;
  font-family: inherit;
  padding-bottom: 15px;
  font-size: 14px; }

.footer-fb__top {
  background-image: url(../images/51538348_10158679924306840_3012696834024931328_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 145%;
  width: 100%;
  height: 110px;
  position: relative; }
  .footer-fb__top img {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
    width: 50px;
    height: 50px;
    z-index: 1; }
  .footer-fb__top h2 {
    position: absolute;
    top: 5px;
    left: 60px;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    z-index: 1; }
  .footer-fb__top p {
    position: absolute;
    top: 28px;
    left: 60px;
    margin: 0;
    font-size: 13px;
    color: #ffffff;
    z-index: 1; }

.footer-fb__opacity {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }

.footer-fb__like {
  background-color: #fff;
  display: inline-block;
  padding: 1px 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 3px; }
  .footer-fb__like a {
    color: #333333;
    font-weight: bold;
    font-size: 12px; }
    .footer-fb__like a:hover {
      text-decoration: none; }
  .footer-fb__like .fa {
    color: #00009d; }

.footer-fb__bottom {
  background-color: #ececec;
  padding: 7px; }

.footer-fb__wrap {
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: #bfbfbf 2px 2px;
          box-shadow: #bfbfbf 2px 2px; }
  .footer-fb__wrap p {
    margin-bottom: 3px; }

.footer-fb__face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-fb__face img {
    width: 100%; }

.footer-bottom {
  background: #1a1a1a;
  padding-bottom: 15px; }
  .footer-bottom:before, .footer-bottom:after {
    display: block;
    content: '';
    line-height: 0; }
  .footer-bottom:after {
    clear: both; }

#newsletter:before, #newsletter:after {
  display: block;
  content: '';
  line-height: 0; }
#newsletter:after {
  clear: both; }

#email {
  line-height: 35px;
  background-color: #313131;
  width: 220px;
  border: none; }

#mail-box {
  /* Chrome, Opera, Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */ }
  #mail-box input::-webkit-input-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input::-moz-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input:-ms-input-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input:-moz-placeholder {
    color: #ffffff;
    padding: 10px; }

.subcribe {
  line-height: 35px;
  background-color: #313131;
  width: 50px;
  margin-left: 10px;
  color: #ffffff;
  border: none;
  font-weight: bold; }

.copyright-info {
  line-height: 35px;
  color: #666666; }
  .copyright-info a {
    color: #989898; }

#make-by {
  padding: 0; }

#social_block ul {
  list-style-type: none;
  margin-bottom: 0px;
  float: right; }

.icon-social {
  display: inline-block;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-right: 3px;
  background-color: #313131; }
  .icon-social a {
    color: #ffffff;
    line-height: 35px;
    font-size: 18px; }
  .icon-social:nth-child(1):hover {
    background-color: #3b5998; }
  .icon-social:nth-child(2):hover {
    background-color: #00acee; }
  .icon-social:nth-child(3):hover {
    background-color: #ee802f; }
  .icon-social:nth-child(4):hover {
    background-color: #dd4b39; }
  .icon-social:nth-child(5):hover {
    background-color: #366184; }
  .icon-social:nth-child(6):hover {
    background-color: #D62423; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #newsletter {
    text-align: center;
    padding-bottom: 30px; }

  .input-group {
    display: inline-block; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .multi-columns-row {
    padding-left: 15px; }

  .footer-info-box {
    width: 290px; }

  .copyright-info {
    text-align: center;
    padding-bottom: 2px; }

  #newsletter {
    padding-bottom: 10px; }

  #social_block {
    text-align: center; }
    #social_block ul {
      float: none; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
.mainTinTuc .container {
  padding: 0; }

.news-wrap {
  float: right;
  padding-right: 0; }

.breadcrumb {
  border-radius: 0;
  color: #1a1a1a; }
  .breadcrumb h3 {
    font-weight: 600;
    margin: 0;
    font-size: 14px; }
  .breadcrumb ul {
    list-style-type: none;
    margin: 0; }
  .breadcrumb li {
    display: inline-block;
    line-height: 16px;
    font-size: 11px; }
  .breadcrumb a {
    color: #444; }
    .breadcrumb a:hover {
      text-decoration: none; }
  .breadcrumb strong {
    color: #e66430;
    font-weight: 100; }
  .breadcrumb i {
    padding: 0 3px; }

.news:before, .news:after {
  display: block;
  content: '';
  line-height: 0; }
.news:after {
  clear: both; }
.news .news-img {
  overflow: hidden; }
  .news .news-img img {
    width: 100%; }
    .news .news-img img:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      opacity: 0.8;
      transition: all 0.3s ease-in-out 0s;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s; }
.news h2 {
  font-size: 13px;
  margin: 10px 0 15px 0;
  min-height: 25px;
  max-height: 25px;
  font-weight: normal; }
.news em {
  color: #e66430;
  font-style: initial;
  line-height: 18px;
  font-size: 12px; }
.news .news-content:before, .news .news-content:after {
  display: block;
  content: '';
  line-height: 0; }
.news .news-content:after {
  clear: both; }
.news .news-content a {
  color: #666666; }
  .news .news-content a:hover {
    color: #e66430;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s; }
.news .news-p {
  margin: 10px 0 25px 0;
  text-align: justify;
  height: 170px;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px; }
  .news .news-p p {
    color: #666666; }
.news .gird-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .news .gird-table:before, .news .gird-table:after {
    display: block;
    content: '';
    line-height: 0; }
  .news .gird-table:after {
    clear: both; }

.news-list li {
  list-style-type: none; }

.news-list__item {
  margin-bottom: 16px; }
  .news-list__item:before, .news-list__item:after {
    display: block;
    content: '';
    line-height: 0; }
  .news-list__item:after {
    clear: both; }
  .news-list__item:hover h4 {
    color: #e66430; }
  .news-list__item a {
    text-decoration: none; }

.news-list__img {
  width: 25%;
  display: inline-block;
  float: left; }
  .news-list__img img {
    width: 100%; }

.news-list__contents {
  font-size: 14px;
  display: inline-block;
  float: left;
  width: 75%;
  color: #e66430;
  padding-left: 10px; }
  .news-list__contents h4 {
    font-size: 14px;
    color: #313131;
    margin-top: 4px; }

.news-pagination {
  text-align: center;
  border-style: solid;
  border-width: 0.5px 0;
  border-color: #eeeeee; }
  .news-pagination:before, .news-pagination:after {
    display: block;
    content: '';
    line-height: 0; }
  .news-pagination:after {
    clear: both; }
  .news-pagination ul {
    list-style-type: none;
    display: inline-block;
    margin: 0 0 -3px 0; }
  .news-pagination li {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
    background-color: #313131;
    font-size: 14px;
    margin: 5px; }
    .news-pagination li:nth-child(1) {
      background-color: #F47920; }
    .news-pagination li:hover {
      background-color: #F47920;
      transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s; }
    .news-pagination li a {
      text-decoration: none;
      color: #fff;
      line-height: 35px; }

.banner-left {
  position: relative; }
  .banner-left img {
    width: 100%; }

.banner-left__hover:hover {
  height: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: rgba(255, 255, 255, 0.45);
  background: rgba(255, 255, 255, 0.15);
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1; }

.hot-news-week {
  border-color: #ffffff;
  background-color: #f9f9f9;
  padding: 12px 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .hot-news-week:before, .hot-news-week:after {
    display: block;
    content: '';
    line-height: 0; }
  .hot-news-week:after {
    clear: both; }
  .hot-news-week h4 {
    padding-left: 10px;
    color: #000000;
    font-size: 14px;
    width: 100%; }

.hot-img {
  width: 25%;
  display: inline-block;
  float: left; }
  .hot-img img {
    width: 100%; }

.hot-content {
  width: 75%;
  display: inline-block;
  float: left;
  padding-left: 15px;
  color: #1a1a1a;
  font-size: 13px; }

.hot-news-item {
  margin-bottom: 16px; }

.hot-title {
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 18px; }

.hot-date {
  font-size: 12px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .news .news-p {
    height: 120px; } }
/* Medium Devices, Desktops */
.banner-left {
  display: none; }

.news-list {
  margin-bottom: 30px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .news .news-p {
    height: 100px; }

  .news-list {
    padding-left: 15px; } }
@media only screen and (max-width: 600px) {
  .hot-news-item {
    width: 100%; }

  .news .news-p {
    height: 130px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .news-pagination li {
    font-size: 12px;
    width: 30px;
    height: 30px; }
    .news-pagination li a {
      line-height: 30px; } }
.post {
  margin-bottom: 30px; }
  .post p {
    font-size: 12px;
    color: #666666;
    line-height: 22px; }

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none; }

.header-logo {
  margin-top: 33px; }

.header-main {
  margin-top: 36px; }

.mainLienHe {
  font-size: 15px; }
  .mainLienHe h4 {
    margin: 40px 0;
    color: #252525; }
  .mainLienHe img {
    margin-top: 40px; }
  .mainLienHe p {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 30px;
    line-height: 20px; }

.lienHe-info {
  margin-top: 30px; }
  .lienHe-info .fa {
    color: #e66430;
    line-height: 25px;
    padding-right: 15px; }
  .lienHe-info li:nth-child(3) {
    margin-left: -5px; }

.form-group {
  color: #252525; }
  .form-group input, .form-group button, .form-group textarea {
    border-radius: 0; }
  .form-group .btn-default {
    margin: 15px 0;
    border-radius: 0px;
    padding: 15px 30px;
    background: #e66430;
    color: #fff;
    border: none;
    text-transform: uppercase; }

.product-info {
  padding-left: 0; }
  .product-info:before, .product-info:after {
    display: block;
    content: '';
    line-height: 0; }
  .product-info:after {
    clear: both; }

.product-img {
  padding-left: 0; }
  .product-img:before, .product-img:after {
    display: block;
    content: '';
    line-height: 0; }
  .product-img:after {
    clear: both; }

.product-item {
  border: #d9d9d9 0.5px solid;
  width: 100%;
  float: left;
  padding: 15px; }

.product-proofread {
  float: right;
  padding: 10px;
  display: block; }

.product-img1 {
  width: 100%; }

#sync2 {
  float: left;
  margin: 5px 0; }

.synced {
  border: #d9d9d9 0.5px solid;
  float: left;
  padding: 7px; }
