html,
body {
  margin: 0;
  font-size: 16px;
  background: #ffffff;
  color: #999999;
  line-height: 1.15; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

.footer {
  background-color: #313131;
  font-family: inherit;
  font-size: 13px; }
  .footer .container {
    padding: 30px 0 15px 0; }

.footer-info-box ul {
  padding: 0;
  list-style-type: none; }
.footer-info-box li {
  margin-bottom: 10px; }
  .footer-info-box li img {
    width: 80%; }
.footer-info-box .fa--border {
  width: 37px;
  height: 37px;
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 100%;
  margin-right: 10px;
  text-align: center;
  line-height: 33px;
  color: #ffffff; }
.footer-info-box span {
  color: #989898; }
  .footer-info-box span a {
    color: #989898; }
    .footer-info-box span a:hover {
      color: #ffffff;
      text-decoration: none; }
  .footer-info-box span i {
    padding-right: 10px; }
.footer-info-box h3 {
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 17px; }

.footer-fb__top {
  background-image: url(../images/51538348_10158679924306840_3012696834024931328_n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 145%;
  width: 100%;
  height: 110px;
  position: relative; }
  .footer-fb__top img {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    float: left;
    width: 50px;
    height: 50px;
    z-index: 1; }
  .footer-fb__top h2 {
    position: absolute;
    top: 5px;
    left: 60px;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    z-index: 1; }
  .footer-fb__top p {
    position: absolute;
    top: 28px;
    left: 60px;
    margin: 0;
    font-size: 13px;
    color: #ffffff;
    z-index: 1; }

.footer-fb__opacity {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0; }

.footer-fb__like {
  background-color: #fff;
  display: inline-block;
  padding: 1px 5px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  border-radius: 3px; }
  .footer-fb__like a {
    color: #333333;
    font-weight: bold;
    font-size: 12px; }
    .footer-fb__like a:hover {
      text-decoration: none; }
  .footer-fb__like .fa {
    color: #00009d; }

.footer-fb__bottom {
  background-color: #ececec;
  padding: 7px; }

.footer-fb__wrap {
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: #bfbfbf 2px 2px;
          box-shadow: #bfbfbf 2px 2px; }
  .footer-fb__wrap p {
    margin-bottom: 3px; }

.footer-fb__face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-fb__face img {
    width: 100%; }

.footer-bottom {
  background: #1a1a1a;
  padding-bottom: 15px;
  border-top: 1px solid #b7b7b7; }
  .footer-bottom:before, .footer-bottom:after {
    display: block;
    content: '';
    line-height: 0; }
  .footer-bottom:after {
    clear: both; }

#email {
  line-height: 35px;
  background-color: #313131;
  width: 250px;
  border: none; }

#mail-box {
  /* Chrome, Opera, Safari */
  /* Firefox 19+ */
  /* IE 10+ */
  /* Firefox 18- */ }
  #mail-box input::-webkit-input-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input::-moz-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input:-ms-input-placeholder {
    color: #ffffff;
    padding: 10px; }
  #mail-box input:-moz-placeholder {
    color: #ffffff;
    padding: 10px; }

.subcribe {
  line-height: 35px;
  background-color: #313131;
  width: 50px;
  margin-left: 10px;
  color: #ffffff;
  border: none;
  font-weight: bold; }

.copyright-info {
  line-height: 35px;
  color: #666666; }
  .copyright-info a {
    color: #989898; }

#social_block ul {
  list-style-type: none;
  margin-bottom: 0px;
  float: right; }

.icon-social {
  display: inline-block;
  line-height: 35px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-right: 3px;
  background-color: #313131; }
  .icon-social a {
    color: #ffffff;
    line-height: 35px;
    font-size: 18px; }
  .icon-social:nth-child(1):hover {
    background-color: #3b5998; }
  .icon-social:nth-child(2):hover {
    background-color: #00acee; }
  .icon-social:nth-child(3):hover {
    background-color: #ee802f; }
  .icon-social:nth-child(4):hover {
    background-color: #dd4b39; }
  .icon-social:nth-child(5):hover {
    background-color: #366184; }
  .icon-social:nth-child(6):hover {
    background-color: #D62423; }
