.footer{
    background-color: #313131;
    font-family: inherit;
    font-size: 13px;
    .container{
        padding: 30px 0 15px 0;
    }
}
.multi-columns-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-info-box{
    ul{
        padding: 0;
        list-style-type: none;
    }
    li{
        margin-bottom: 15px;
        img{
            width: 136px;
            height: 54px;
        }
    }
    .fa--border{
        width: 37px;
        height: 37px;
        font-size: 15px;
        border: 2px solid #fff;
        border-radius: 100%;
        margin-right: 10px;
        text-align: center;
        line-height: 33px;
        color: #ffffff;
    }
    span{
        color: #989898 ;
        a{
            color: #989898;
            &:hover{
                color: #ffffff;
                text-decoration: none;
            }
        }
        i{
            padding-right: 10px;
        }
    }
    h3{
        color: #ffffff;
        font-weight: bold;
        font-family: inherit;
        padding-bottom: 15px;
        font-size: 14px;

    }
}
.footer-fb__top{
    background-image: url(../images/51538348_10158679924306840_3012696834024931328_n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 145%;
    background-size: 145%;
    width: 100%;
    height: 110px;
    position: relative;
    img{
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 5px;
        float: left;
        width: 50px;
        height: 50px;
        z-index: 1;
    }
    h2{
        position: absolute;
        top: 5px;
        left: 60px;
        margin: 0;
        font-size: 20px;
        color: #ffffff;
        z-index: 1;
    }
    p{
        position: absolute;
        top: 28px;
        left: 60px;
        margin: 0;
        font-size: 13px;
        color: #ffffff;
        z-index: 1;
    }
}
.footer-fb__opacity{
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.footer-fb__like{
    background-color: #fff;
    display: inline-block;
    padding: 1px 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    border-radius: 3px;
    a{
        color: #333333;
        font-weight: bold;
        font-size: 12px;
        &:hover{
            text-decoration: none;
        }
    }

    .fa{
        color: #00009d;
    }
}
.footer-fb__bottom{
    background-color: #ececec;
    padding: 7px;
}
.footer-fb__wrap{
    background-color: #fff;
    padding: 5px;
    box-shadow: #bfbfbf 2px 2px;
    p{
        margin-bottom: 3px;
    }
}
.footer-fb__face{
    display: flex;
    img{
        width: 100%;
    }

}

.footer-bottom{
    background: #1a1a1a;
    padding-bottom: 15px;
    @include clear-fix;
}

#email {
    line-height: 35px;
    background-color: #313131;
    width: 250px;
    border: none;
}
#mail-box{
    /* Chrome, Opera, Safari */
    input::-webkit-input-placeholder {
        color: #ffffff;
        padding: 10px;
    }

    /* Firefox 19+ */
    input::-moz-placeholder {
        color: #ffffff;
        padding: 10px;
    }

    /* IE 10+ */
    input:-ms-input-placeholder {
        color: #ffffff;
        padding: 10px;
    }

    /* Firefox 18- */
    input:-moz-placeholder {
        color: #ffffff;
        padding: 10px;
    }
}
.subcribe{
    line-height: 35px;
    background-color: #313131;
    width: 50px;
    margin-left: 10px;
    color: #ffffff;
    border: none;
    font-weight: bold;
}
.copyright-info{
    line-height: 35px;
    color: #666666;
    a{
        color: #989898;
    }
}

#social_block{
    ul{
        list-style-type: none;
        margin-bottom: 0px;
        float: right;
    }
}
.icon-social{
    display: inline-block;
    line-height: 35px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 3px;
    background-color: #313131;
    a{
        color: #ffffff;
        line-height: 35px;
        font-size: 18px;
    }
    &:nth-child(1):hover{
        background-color: #3b5998;
    }
    &:nth-child(2):hover{
        background-color: #00acee;
    }
    &:nth-child(3):hover{
        background-color: #ee802f;
    }
    &:nth-child(4):hover{
        background-color: #dd4b39;
    }
    &:nth-child(5):hover{
        background-color: #366184;
    }
    &:nth-child(6):hover{
        background-color: #D62423;
    }
}

