
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

//** fix component of huyen

header {
    .header-top {
        background: #F2F2F2;
        height: 40px;

        &__nav {
            float: right;
            margin-bottom: 15px;
        }

        li {
            float: left;
        }

        li:first-child a {
            border-left: 0;
        }

        a {
            display: inline-block;
            margin: 14px 0;
            padding: 0 15px;
            border-left: 1px solid #d7d7d7;
            color: #999999;
            line-height: 15px;
            font-size: 12px;

            &:hover {
                color: #F47920;
                text-decoration: none;

            }
        }

    }

    .header-logo {
        margin: 0;
        padding-bottom: 33px;
        padding-top: 32px;

        img {
            width: 100%;
            @include respond-to(max767) {
                width: auto;
            }

            @include respond-to(min768) {
                width: auto;
            }
        }

        @include respond-to(max767) {
            text-align: center;
        }

        @include respond-to(min768) {
            text-align: center;
        }


    }

    .header-main {
        margin-top: 33px;

        &__box {
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
        }

        &__search {
            order: 2;
            width: 100%;
            margin-top: 15px;
            position: relative;

            @include respond-to(min768) {
                order: 1;
                width: calc(50% - 5px);
                margin-top: 0px;
            }

            @include respond-to(min992) {
                order: 1;
                margin-top: 0;
                width: 80%;
                margin-left: 130px !important;
            }


            @include respond-to(min1200) {
                order: 1;
                margin-top: 0;
                width: 80%;
                margin-left: 40px;
            }

            input {
                width: 100%;
                outline: none;
                border: 1px solid #F2F2F2;
                display: inline-block;
                font-size: 12px;
                height: 48px;
                line-height: 48px;
                padding: 0 45px 0 20px;
                margin-left: -5px;

                &:focus + .icon-search {
                    background: #F47920;
                    color: #fff;
                }
            }

            .icon-search {
                position: absolute;
                width: 48px;
                height: 48px;
                text-align: center;
                line-height: 48px;
                color: #111;
                top: -1px;
                right: 15px;
                display: inline-block;
                transition: all 0.3s ease-in-out;

                @include respond-to(min768) {
                    right: 1px;
                }

                @include respond-to(min992) {
                    right: 1px;
                }
            }
        }

        &__btn {
            order: 1;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            color: #fff;

            @include respond-to(min768) {
                order: 2;
                width: calc(50% - 10px);
                justify-content: flex-end;
            }

            @include respond-to(min992) {
                width: 20%;
            }

            @include respond-to(min1200) {
                width: 20%;
            }

            .btn__phone {
                width: calc(50% - 10px);
                background-color: #F47920;
                height: 48px;
                line-height: 48px;
                text-align: center;
                @include respond-to(min768) {
                    margin-right: 5px;
                }

                span {
                    position: relative;

                    &::before {
                        position: absolute;
                        font-family: 'FontAwesome', sans-serif;
                        content: "\f095";
                        left: -16px;

                        @include respond-to(min768) {
                            display: none;
                        }

                    }
                }
            }


            .btn__wrap {

                width: calc(50% - 10px);
                background-color: #F47920;
                line-height: 46px;
                text-align: center;


                @include respond-to(min992) {
                    // order: 1;
                    width: 100%;
                }

                .btn__cart {
                    height: 100%;

                    i {
                        margin-right: 10px;
                    }
                }

                .cart__hover {
                    display: none;
                }
            }
        }
    }

}

/** Dũng fix header navigation
 */
.nav {
    background: #444;
    margin-bottom: 15px;

    &__book-list {
        width: 25%;
        background-color: #F47920;
        padding: 15px 19px;
        float: left;
        position: relative;
        cursor: pointer;
        //margin-right: 15px;

    }

    &__book-content {
        h3 {
            margin: 0;
            color: #ffffff;
            display: block;
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            text-transform: uppercase;

            em {
                float: right;

                &:before {
                    content: "\f067";
                    color: #fff;
                    font: normal normal normal 15px/1 FontAwesome;
                }
            }
        }
    }

    &__book-box {
        position: absolute;
        width: 100%;
        top: 50px;
        left: 0;
        z-index: 999;
        border-color: rgba(0, 0, 0, 0.1);
        border-style: solid;
        border-width: 0 1px 1px;
        background: #fff;
        display: none;

        ul {
            position: relative;

            li {
                a {
                    color: #444;
                    display: block;
                    font-size: 12px;
                    font-weight: normal;
                    padding: 0px 0 0px 20px;
                    text-transform: capitalize;
                    line-height: 35px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: #e66430;
                        text-decoration: none;
                    }

                    i {
                        float: right;
                        padding: 10px;
                        font-size: 14px;

                    }
                }
            }
        }
    }

    &__mega-menu {
        width: 58.33333333%;
        float: left;

        nav {
            ul {
                li {
                    display: inline-block;
                    padding: 0 15px;

                    .nav__mega-link {
                        line-height: 50px;
                        display: block;
                        color: #fff;
                        font-size: 12px;
                        text-transform: uppercase;
                        transition: all 0.3s ease-in-out;

                        &:hover, &:focus {
                            text-decoration: none;
                            color: #F47920;
                        }
                    }
                }
            }
        }
    }

    &__phone {
        width: 15.5%;
        float: left;
    }

    &__phone-img {
        background-color: #F47920;
        cursor: pointer;

        img {

        }

        a {
            line-height: 50px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            display: inline-block;

            &:hover {
                text-decoration: none;
            }

        }
    }
}

.header-nav{
    background: #444;
}

.nav__bookmenu{
    @include clear-fix;
    padding: 15px;
    background-color: #f47920;
    h3{
        color: #ffffff;
        display: block;
        font-size: 16px;
        margin: 0;
        font-weight: bold;
        line-height: 20px;
    }
}
.header-navigation__list{
    list-style-type: none;
}
.header-navigation__item{
    display: inline-block;
    margin-top: 2px;
    padding: 0 13px;
    a{
        line-height: 45px;
        font-size: 12px;
        float: left;
        color: #fff;
        &:hover{
            color: #f47920;
            transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            text-decoration: none;
        }

    }
}
.header-hotline{
    background-color: #f47920;
    padding: 5px;
    img{
        width: 30%;
    }
    h3{
        color: #ffffff;
        display: inline-block;
        font-size: 16px;
        margin: 0;
        font-weight: bold;
        line-height: 40px;
    }
}
.header-nav__list{
    background-color: #ffffff;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #f2f2f2;
    ul{
        list-style-type: none;
    }
    li{
        display: block;
        text-transform: capitalize;
        position: relative;
        padding: 4.5px 0px;
        a{
            color: #444;
            font-size: 13px;
            font-weight: normal;
            line-height: 30px;
        }

        i{
            float: right;
        }
    }
}
.header-banner__carousel{
    padding: 30px;
    .item{
        width: 847px;
    }
}

