.heThongNhaSach-table{
    width: 100%;
    font-size: 12px;
    thead{
        display: table-header-group;
        vertical-align: middle;
        border-color: inherit;
    }
    tbody{
        margin: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        color: #5e5d5d;
    }
    td{
        padding: 15px;
    }
    th{
        padding: 15px;

        strong{
            font-weight: 700;
            color: #5e5d5d;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    }
    tr{
        border-top: 1px #d7d7d7 solid;
        border-bottom: 1px #d7d7d7 solid;

    }
    tr:first-child{
        border-top: none;
    }
    tr:nth-child(2){
        border-top:  #1a1a1a 1px solid ;
    }
    tr:last-child{
        border-bottom: #1a1a1a 1px solid;
    }
    .odd{
        background-color: #f9f9f9;

        .sorting_1{
            background-color: #f1f1f1;
        }
    }

}