.mainTinTuc{
    .container{
        padding: 0;
    }
}
.news-wrap{
    float: right;
    padding-right: 0;
}
.breadcrumb{
    border-radius: 0;
    color: #1a1a1a;
    h3{
        font-weight: bold;
        margin: 0;
        font-size: 15px;
    }
    ul{
        list-style-type: none;
        margin: 0;
    }
    li{
        display: inline-block;
        line-height: 16px;
        font-size: 12px;
    }
    a{
        color: #444;
        &:hover{
            text-decoration: none;
        }
    }
    strong{
        color: #e66430;
    }
    i{
        padding: 0 3px;
    }
}
.news{
    @include clear-fix;
    .news-img{
        overflow: hidden;
        img{
            width: 100%;
            &:hover{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                transform: scale(1.1);
                opacity: 0.8;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
            }
        }


    }
    h2{
        font-size: 13px;
        margin: 10px 0 15px 0;
        min-height: 25px;
        max-height: 25px;
        font-weight: normal;
    }
    em{
        color: #e66430;
        font-style: initial;
        line-height: 18px;
        font-size: 12px;
    }
    .news-content{
        @include clear-fix;
        a{
            color: #666666;

            &:hover{
                color: #e66430;
                text-decoration: none;
                transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
            }
        }
    }
    .news-p{
        margin: 10px 0 25px 0;
        text-align: justify;
        height: 170px;
        overflow: hidden;
        line-height: 18px;
        font-size: 12px;
    }
    .gird-table{
        display: flex;
        @include clear-fix;
        flex-wrap: wrap;
    }

}
.news-list{
    li{
        list-style-type: none;
    }
}
.news-list__item{
 @include clear-fix;
    margin-bottom: 16px;
    &:hover h4{
        color: #e66430;
    }
    a{
        text-decoration: none;
    }
}
.news-list__img{
    width: 25%;
    display: inline-block;
    float: left;
    img{
        width: 100%;
    }
}
.news-list__contents{
    font-size: 14px;
    display: inline-block;
    float: left;
    width: 75%;
    color: #e66430;
    padding-left: 10px;
    h4{
        font-size: 14px;
        color: #313131;
        margin-top: 4px;
    }
}
.news-pagination{
    text-align: center;
    @include clear-fix;
    border-style: solid;
    border-width: 0.5px 0;
    border-color: #eeeeee;
    ul{
        list-style-type: none;
        display: inline-block;
        margin: 0 0 -3px 0;
    }
    li{
        display: inline-block;
        float: left;
        width: 35px;
        height: 35px;
        background-color: #313131;
        margin: 5px;
        &:nth-child(1){
            background-color: #F47920;
        }
        &:hover{
            background-color: #F47920;
            transition: all 0.5s ease-in-out 0s;
            -webkit-transition: all 0.5s ease-in-out 0s;
            -ms-transition: all 0.5s ease-in-out 0s;
        }
        a{
            text-decoration: none;
            color: #fff;
            line-height: 35px;
        }
    }

}
.banner-left{
    position: relative;
    img{
        width: 100%;
    }
}
.banner-left__hover{
    &:hover{
        height: 100%;
        border-style: solid;
        border-width: 10px;
        border-color: rgba(255,255,255,0.45);
        background: rgba(255,255,255,0.15);
        content: "";
        position: absolute;
        transform: scale(0);
        transition-duration: 0.3s;
        transition-property: transform;
        width: 100%;
        transition-timing-function: ease-out;
        z-index: -1;
    }

}
.hot-news-week{
    @include clear-fix;
    border-color: #ffffff;
    background-color: #f9f9f9;
    padding: 12px 0px 0 0 ;
    h4{
        padding-left: 10px;
        color: #000000;
        font-size: 14px;
    }
}
.hot-img{
    width: 25%;
    display: inline-block;
    float: left;
    img{
        width: 100%;
    }
}
.hot-content{
    width: 75%;
    display: inline-block;
    float: left;
    padding-left: 15px;
    color: #1a1a1a;
    font-size: 13px;
}
.hot-news-item{
    margin-bottom: 16px;
}
.hot-title{
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 18px;
}
.hot-date{
    font-size: 12px;
}