html,
body{
    margin: 0;
    font-size: 16px;
    background: #ffffff;
    color: #999999;
    line-height: 1.15;
}
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@mixin clear-fix {
    &:before,
    &:after {
        display: block;
        content: '';
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.no-padding__left{
    padding-left: 0;
}
.no-padding__right{
    padding-right: 0;
}
.padding-right__15px{
    padding-right: 15px;
}