.product-info{
    padding-left: 0;
    @include clear-fix;
}
.product-img{
    padding-left: 0;
    @include clear-fix;
}
.product-item{
    border: #d9d9d9 0.5px solid;
    width: 100%;
    float: left;
    padding: 15px;
}
.product-proofread{
    float: right;
    padding: 10px;
    display: block;
}
.product-img1{
    width: 100%;
}
#sync2{
    float: left;
    margin: 5px 0;
}
.synced{
    border: #d9d9d9 0.5px solid;
    float: left;
    padding: 7px;
}

.product-description{
    h2{
        color: #333333;
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
        margin-top: 8px;
        margin-bottom: 10px;
    }

}
.short-description{
    margin-bottom: 20px;
    b{
        color: #999;
        font-size: 12px;
    }
}
.stock-status{
    margin-bottom: 10px;
    color: #F47920;
    font-size: 13px;
}
.old-price{
    color: #6f6666;
    display: inline-block;
    font-size: 13px;
    text-decoration: line-through;
}
.special-price{
    color: #F47920;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.compare-price {
    color: #999;
    display: inline-block;
    font-size: 14px;
}
.des_content {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    background: 0;
    border: 0;
}
.number-of-product{
    width: 55px;
    height: 40px;
    float: left;
    border: 1px solid #d7d7d7 !important;
    line-height: 27px;
    padding: 0;
    text-align: center;
    margin: 0;
    margin-right: 10px;
}
.button_detail_product{
    background: #F47920;
    border: 0;
    color: #fff;
    display: block;
    margin-right: 3px;
    font-weight: normal;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}
.like-product{
    width: 160px;
    height: 40px;
    display: inline-block;
    margin-top: 30px;
    border: #f0f0f0 solid 0.5px;
    .like-img{
        width: 40px;
        display: inline-block;
        float: left;

        img{
            width: 100%;
        }
    }
    .like-content{
        height: 100%;
        width: 119px;
        text-align: center;
        float: left;
        border-left: #f0f0f0 solid 0.5px;
        span{
            font-size: 12px;
            line-height: 40px;
            color: #666666;
        }
    }
 }
.promotion{
    @include clear-fix;
    margin-top: 20px;

}
.item-promotion-title{
    margin-top: 20px;
    h2{
        font-size: 15px;
    }

}
.promotion-content{
    font-size: 12px;
    color: #666666;
    li{
        line-height: 25px;
        padding: 0 0 0 21px;
        background: url(../images/tick.png) no-repeat left center;
    }

}
.has-icon{
    color: #f47920;
    padding-left: 2px;
    margin-left: 5px;
    &:hover{
        text-decoration: none;
        color: #f47920;
    }
}
.social-media{
    ul{
        list-style-type: none;
    }
}
.icon-social-media{
    display: inline-block;
    border: 0;
    background: #f1f1f1;
    margin: 31px 3px 3px 3px;
    font-size: 12px;
    padding: 6px 12px;
    .fa{
        margin-right: 5px;

    }
    a{
        color: #666;
    }
    &:nth-child(1):hover{
        background-color: #435f9f;
        a{
            text-decoration: none;
            color: white;
        }
    }
    &:nth-child(2):hover{
        background-color: #00aaf0;
        a{
            text-decoration: none;
            color: white;
        }
    }
    &:nth-child(3):hover{
        background-color: #e04b34;
        a{
            text-decoration: none;
            color: white;
        }
    }
    &:nth-child(4):hover{
        background-color: #ce1f21;
        a{
            text-decoration: none;
            color: white;
        }
    }
}
.product-overview-tab{
    @include clear-fix;
}






.block-content{
    border: 1px solid #eeeeee;
    padding: 9px 20px 8px;
}
.list-item{
    display: block;
    border-bottom: #e7e7e7 1px solid;
    position: relative;
    a{
        color: #313131;
        line-height: 35px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }
}
.open-close-pro{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    width: 25px;
    text-align: center;
    line-height: 39px;
}
.open-close-pro::before {
    content: "\f067";
    color: #333;
    font: normal normal normal 15px/1 FontAwesome;
}
.open-close-pro:hover .list-sub{
    display: block;
    position: absolute;
}
.open-close-pro:hover::before {
    content: "\f068";
    color: #333;
    font: normal normal normal 15px/1 FontAwesome;
}
.list-item-1{
    text-decoration: none;
}