.logID{
    @include clear-fix;
    text-align: center;
    margin: 62px 0;
    h2{
        display: block;
        color: #000;
        font-family: 'Roboto',sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        padding: 20px 0;
    }
}
.logID-form{
    width: 55%;
    display: inline-block;
    .controls{
        display: inline-block;
        float: left;
        margin: 10px 0 15px;
        .btn-primary{
            background: #444;
            border: none;
            border-radius: 0;
            color: #fff;
            font-family: "Roboto",sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 15.6px;
            padding: 15px 30px;

        }
    }
}
.logID-control{
    width: 100%;
    border: 1px solid #ddd;
    color: #000;
    font-family: "Roboto",sans-serif;
    line-height: 55px;
    padding: 0 15px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
}
.f-pass{
    text-align: left;
    font-size: 12px;
    margin: 20px 0;
    a:first-child{
        color: #252525;
        margin: 0 15px 0 0;
        text-decoration: none;
    }
    a{
        color: #F47920;
        text-decoration: underline;
    }
}