
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}








//sass --watch src/scss/main.scss:src/css/style.css

@import "mixin";
@import "mixin__huyen";
@import "header";
@import "footer";
@import "mainTinTuc";
@import "lienHe";
