
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
header {
    .header-top {
        background: #F2F2F2;

        &__nav {
            float: right;
        }

        li {
            float: left;
        }

        li:first-child a {
            border-left: 0;
        }

        a {
            display: inline-block;
            margin: 14px 0;
            padding: 0 15px;
            border-left: 1px solid #d7d7d7;
            color: #999999;
            line-height: 15px;
            font-size: 12px;

            &:hover {
                color: #F47920;
                text-decoration: none;

            }
        }

    }

    .header-logo  {
        margin-top: 33px;
    }

    .header-main {
        margin-top: 36px;
    }


}
.post{
    font-size: 12px;
    color: #666666;
    line-height: 22px;
    margin-bottom: 30px;
}

//sass --watch src/scss/main.scss:src/css/style.css

@import "mixin";
@import "footer";
@import "mainTinTuc";
@import "lienHe";
