@media screen and (max-width: 1200px) {
    main::before, main::after {
        content: "";
        clear: both;
        display: block;
    }
    .nav__mega-menu nav ul li {
        padding: 0 10px;
    }
}

@media screen and (max-width: 991px) {
    main::before,main::after{
        content: "";
        clear: both;
        display: block;
    }
    .rp-991{
        display: inline-block;
        width: 45%;
        margin-left: 5px;
    }
    .nav{
        display: none;
    }

    .nav-991{
        display: block;

        a{
            font-size: 17px;
            font-weight: bold;
            color: #ffffff;
        }

        i{
            padding: 10px;
        }
    }
    .nav-991__wrap{
        &::after{
            display: block;
            content: "";
            clear: both;
        }
        background-color: #313131;
        padding: 20px 15px;
        margin: 15px 0;
        }
    .mainProduct-right{
        display: none;
    }
    .btn-menu{
        display: inline-block;
        float: left;
    }
    .btn-category{
        display: inline-block;
        float: right;
    }

    .future-books__left{
        display: none;
    }
    .sidebar-box{
        &__left{
            width:30%;
            padding: 1% 1%;
        }
    }
    .image-products .margin-bottom-30 {
        margin-top: 29px;
    }
    .main-nav-678{
        display: none;
    }
    .news-list__img{
        width: 12%;
    }
    .news{
        .banner-left{
            display: none;
        }
    }
    .mainTinTuc{
        .hot-img{
            width: 40%;
        }
        .hot-content{
            width: 60%;
        }
        .hot-title{
            font-size: 12px;
        }
        .hot-date {
            font-size: 11px;
        }
    }
}
@media screen and (max-width: 767px) {
    main::before,main::after{
        content: "";
        clear: both;
        display: block;
    }
    .header-main__box{
        flex-wrap: wrap;
    }
    .product-item{
        text-align: center;
    }
    .product-link{
        max-width: 350px;
        display: inline-block;
    }
    .rp-991{
        margin-left: 0px;
    }
    .nav__phone{
        width: 50%;
    }
    .header-main__btn{
        width: 100%;
    }
    .header-main__search{
        margin: 0 0 15px 0;

    }
    .nav__phone-img{
        text-align: center;
    }
    .btn__wrap{
        order: 2;
    }

}


// Responsive page Chính sách bảo mật

