/**
*
*Setting
*
*/
// Class toogle
.active{
    color: #F47920 !important;
}
.news-list__img{
    width: 50% !important;
}
.news-list__contents{
    width: 50% !important;
}
.news-list__contents h4{
    font-size: 13px !important;
    transition: all 0.3s ease-in-out;
}
.banner-left__hover{

    a{
        transition: all 0.3s ease-in-out 0s;
        &:before{
            height: 100%;
            border-style: solid;
            border-width: 10px;
            border-color: rgba(255,255,255,0.45);
            background: rgba(255,255,255,0.15);
            content: "";
            position: absolute;
            transform: scale(0);
            transition-duration: 0.3s;
            transition-property: transform;
            width: 100%;
            transition-timing-function: ease-out;
            z-index: -1;
        }
    }
}
.banner-left__hover a:hover::before{
    transform: scale(1);
    z-index: 1;
}
.news-list {
    margin-bottom: 45px !important;
}
.banner-left img{
    max-width: 100% !important;
    height: auto !important;
}
.news-list__item a:after{
    content: '';
    clear: both !important;
    display: block;
}
